html, body {
  width: 100%;
  height: 100%;
}

#final {
  color:green;
  float: left;

}
#fullText {
  float:left;
  color:white;
  max-height:40%;
  overflow: hidden;
  background-color: black;
}
#suggestions {
  float:none;
  width:100%;
  height:20%;
  font-size: 2em;
  text-align: center;
  bottom:0;
  position: absolute;
}